		.map-name{
			text-align:center;
			/* margin-top:-8%; */
		}
		.map-name h1{
			font-size: 72px;
		}
		.map-setting{
			/* padding-top:7%; */
			text-align:center;
		}
		.map-setting button{
			width:30%;
			margin:20px; 
			font-size:20px;
			height:60px;  
		}
		.map-setting select{
			width:60%; 
			font-size:25px;
			height:60px; 
		}
		#address{
			font-size:20px;
		}
		.btn-setting{
			 text-align:center;
			 padding-top:10%;
		}
		.btn-setting button{
			width:200px;
			font-size:40px;
			margin:30px;
		}
@media (min-width: 768px) {
  	#index{
   		margin-left:-35%;
  	} 
}
@media (max-width: 768px) {
	.-setting button{
		width:100px;
		font-size:25px;
		margin:30px;
	}
}
	