<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <!--  위에 configuration을 설정했기때문에 사용 가능-->
 
  <!-- mybatis 설정 xml -->
<configuration>
	<!-- typeAlias 세팅  :  
sql에서 자주사용하는 (DTO) 클래스의 경로를 줄여쓰기 위해 지정해 놓는 옵션 -->
	<typeAliases>
		<typeAlias type="bts.model.vo.Bts_MemberVO" alias="memberVO" />
		<typeAlias type="bts.model.vo.Bts_ChatVO" alias="chatVO" />
	</typeAliases>
	
	<!-- 맵퍼의 경로 세팅 : sql 쿼리문들이 작성되는 xml 파일들의 경로를 설정 -->
	<mappers>
		<mapper resource="/sql/bts_member.xml" />
		<mapper resource="/sql/bts_chat.xml" />
	</mappers>	

</configuration> 
