   		.container{
	margin-top:30px;
	font-family: 'Single Day', cursive;
}
@media (min-width: 768px) {
.jumbotron{
	height:800px;
	background-color:#FF8000;
}
	#nav{
		position:absolute;
		width:25%;
		height:90%;
	}
	#section{
		position:relative;
		left:25%;
		width:74.8888%;
		height:100%;
	}
}			
@media (max-width: 768px) {
	.jumbotron{
		height:700px;
		background-color:#FF8000;
		padding: 0px 0px;
	}
	#nav{
		height:15%;
	}
	#section{ 
		height:70%;
	}
	#footer{
		height:15%
	}
}
